.root {
  viewport-fill: black;
  font-family: System-Bold;
}

#time {
  font-size: 80;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 55%;
  fill: white;
}

.icon {
  width: 20;
  height: 20;
  opacity: 1;
}

.activity-container {
  x: 35%;
  y: 75%;
  width: 40%;
  height: 20;
  fill: red;
}

.activity-container .icon {
  x: 10%;
  y: 10%;
}

.activity-container .steps-icon {
  fill: #0080ff;
}

.activity-container .unit {
  font-family: System-Regular;
  font-size: 22;
  x: 50%;
  text-length: 32;
  text-anchor: middle;
  fill: white;
}

/* 
.inner {
  width: 100%;
  height: 100%;
  x: 0;
  y: 0;
  fill: red;
} */
