/* Hard values (such as radius for circle) are made for original Fitbit OS 5 devices (Versa 3 and Sense).
If other watches are upgraded to be compatible with OS 5, the hard values will need to be altered with percentages via JS) */

#root {
  viewport-fill: #000000;
  font-family: System-Regular;
}

#date {
  font-size: 20;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 25%;
  fill: #ffffff;
}

#time {
  font-size: 80;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 57%;
  fill: #ffffff;
  font-family: System-Bold;
}

.invisible {
  visibility: hidden;
}

.measurement-container {
  x: 35%;
  y: 75%;
  width: 40%;
  height: 20;
}

.icon {
  width: 20;
  height: 20;
  opacity: 1;
}

.measurement-container .icon {
  x: 10%;
  y: 10%;
}

#steps-container .icon {
  fill: #0080ff;
}

#heart-rate-container .icon {
  fill: #ff0000;
}

#calories-container .icon {
  fill: #ffa500;
}

.unit {
  font-family: System-Regular;
  font-size: 20;
  x: 50%;
  text-length: 32;
  text-anchor: middle;
  fill: #ffffff;
}
